@font-face {
  font-family: multicolore;
  src: url(fonts/multicolore.otf);
}

@font-face {
  font-family: karbonSB;
  src: url(fonts/karbon-semibold.otf);
}

@font-face {
  font-family: karbonR;
  src: url(fonts/karbon-regular.otf);
}

@media only screen and (max-width: 1023px) {
  .mobile-screen {
    display: block;
    cursor: default !important;
  }
  .regular-screen {
    display: none;
  }
}

@media only screen and (min-width: 1023px) {
  .mobile-screen {
    display: none;
  }
  .regular-screen {
    display: block;
  }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 67.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F3F3F3;
  cursor: none;
  overflow: hidden;
}

.quick-about-wrapper {
  width: 100vw;
  height: 100vh;
  font-family: karbonSB;
  background-size: 400% 400%;
  -webkit-animation: mobile-background 9s ease infinite;
  animation: mobile-background 9s ease infinite;
}

@-webkit-keyframes mobile-background {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

@keyframes mobile-background {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

.quick-about-wrapper .content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.quick-about-wrapper .content-wrapper #logo {
  height: 30px;
  margin: 0 0 6vh 6px;
}

.quick-about-wrapper .content-wrapper .light-dark-toggle {
  position: absolute;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  margin: 0 0 0 8px;
  height: 20px;
  width: 20px;
  z-index: 100;
}

.quick-about-wrapper .content-wrapper .titles {
  font-size: 80px;
  line-height: 80px;
}

.quick-about-wrapper .content-wrapper .about {
  font-size: 25px;
  font-family: karbonR;
  line-height: 31px;
  letter-spacing: 0.75px;
  margin: 4vh 0 0 0;
}

.quick-about-wrapper .content-wrapper .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-about-wrapper .content-wrapper .socials a {
  text-decoration: none;
  padding: 4vh 25px 0 0;
}

.quick-about-wrapper .content-wrapper .socials a .socials-title {
  font-family: karbonR;
  font-size: 20px;
  letter-spacing: 0.5px;
  z-index: 100;
  opacity: 0.75;
}

.quick-about-wrapper .content-wrapper .socials a .socials-title:hover {
  -webkit-animation: hover-opacity 0.25s linear 0s forwards;
          animation: hover-opacity 0.25s linear 0s forwards;
}

@-webkit-keyframes hover-opacity {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hover-opacity {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.quick-about-wrapper .content-wrapper .contact {
  width: 250px;
  display: inline-block;
  border-radius: 80px;
  text-align: center;
  font-family: karbonR;
  font-size: 22px;
  padding: 12px 12px 8px 12px;
  margin: 4vh 0 0 0;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 424px) {
  .quick-about-wrapper {
    width: 100vw;
    height: 100vh;
    font-family: karbonSB;
    background-size: 400% 400%;
    -webkit-animation: mobile-background 9s ease infinite;
    animation: mobile-background 9s ease infinite;
  }
  @-webkit-keyframes mobile-background {
    0% {
      background-position: 5% 0%;
    }
    50% {
      background-position: 96% 100%;
    }
    100% {
      background-position: 5% 0%;
    }
  }
  @keyframes mobile-background {
    0% {
      background-position: 5% 0%;
    }
    50% {
      background-position: 96% 100%;
    }
    100% {
      background-position: 5% 0%;
    }
  }
  .quick-about-wrapper .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .quick-about-wrapper .content-wrapper #logo {
    height: 15px;
    margin: 0 0 6vh 6px;
  }
  .quick-about-wrapper .content-wrapper .light-dark-toggle {
    position: absolute;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    margin: 0 0 0 8px;
    height: 10px;
    width: 10px;
    z-index: 100;
  }
  .quick-about-wrapper .content-wrapper .light-dark-toggle circle {
    cx: 4px;
    cy: 4px;
    r: 3px;
  }
  .quick-about-wrapper .content-wrapper .titles {
    font-size: 35px;
    line-height: 35px;
  }
  .quick-about-wrapper .content-wrapper .about {
    font-size: 12px;
    font-family: karbonR;
    line-height: 18px;
    letter-spacing: 0.4px;
    margin: 4vh 0 0 0;
  }
  .quick-about-wrapper .content-wrapper .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .quick-about-wrapper .content-wrapper .socials a {
    text-decoration: none;
    cursor: none;
    padding: 4vh 25px 0 0;
  }
  .quick-about-wrapper .content-wrapper .socials a .socials-title {
    font-family: karbonR;
    font-size: 10px;
    letter-spacing: 0.5px;
    z-index: 100;
    opacity: 0.75;
  }
  .quick-about-wrapper .content-wrapper .socials a .socials-title:hover {
    -webkit-animation: hover-opacity 0.25s linear 0s forwards;
            animation: hover-opacity 0.25s linear 0s forwards;
  }
  @-webkit-keyframes hover-opacity {
    0% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes hover-opacity {
    0% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  .quick-about-wrapper .content-wrapper .contact {
    width: 100px;
    display: inline-block;
    border-radius: 75px;
    text-align: center;
    font-family: karbonR;
    font-size: 10px;
    padding: 7px 10px 5px 10px;
    margin: 4vh 0 0 0;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 424px) and (max-width: 767px) {
  .quick-about-wrapper {
    width: 100vw;
    height: 100vh;
    font-family: karbonSB;
    background-size: 400% 400%;
    -webkit-animation: mobile-background 9s ease infinite;
    animation: mobile-background 9s ease infinite;
  }
  @-webkit-keyframes mobile-background {
    0% {
      background-position: 5% 0%;
    }
    50% {
      background-position: 96% 100%;
    }
    100% {
      background-position: 5% 0%;
    }
  }
  @keyframes mobile-background {
    0% {
      background-position: 5% 0%;
    }
    50% {
      background-position: 96% 100%;
    }
    100% {
      background-position: 5% 0%;
    }
  }
  .quick-about-wrapper .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .quick-about-wrapper .content-wrapper #logo {
    height: 25px;
    margin: 0 0 6vh 6px;
  }
  .quick-about-wrapper .content-wrapper .light-dark-toggle {
    position: absolute;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    margin: 0 0 0 8px;
    height: 20px;
    width: 20px;
    z-index: 100;
  }
  .quick-about-wrapper .content-wrapper .light-dark-toggle circle {
    cx: 6px;
    cy: 6px;
    r: 5px;
  }
  .quick-about-wrapper .content-wrapper .titles {
    font-size: 50px;
    line-height: 50px;
  }
  .quick-about-wrapper .content-wrapper .about {
    font-size: 15px;
    font-family: karbonR;
    line-height: 21px;
    letter-spacing: 0.5px;
    margin: 4vh 0 0 0;
  }
  .quick-about-wrapper .content-wrapper .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .quick-about-wrapper .content-wrapper .socials a {
    text-decoration: none;
    cursor: pointer;
    padding: 4vh 25px 0 0;
  }
  .quick-about-wrapper .content-wrapper .socials a .socials-title {
    font-family: karbonR;
    font-size: 13px;
    letter-spacing: 0.5px;
    z-index: 100;
    opacity: 0.75;
  }
  .quick-about-wrapper .content-wrapper .socials a .socials-title:hover {
    -webkit-animation: hover-opacity 0.25s linear 0s forwards;
            animation: hover-opacity 0.25s linear 0s forwards;
  }
  @-webkit-keyframes hover-opacity {
    0% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes hover-opacity {
    0% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
  .quick-about-wrapper .content-wrapper .contact {
    width: 150px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    font-family: karbonR;
    font-size: 15px;
    padding: 10px 10px 5px 10px;
    margin: 4vh 0 0 0;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

.mobile-screen.light .quick-about-wrapper {
  background: linear-gradient(322deg, #f3f3f3, #f3f3f3);
}

.mobile-screen.light .quick-about-wrapper .content-wrapper #logo {
  fill: #505050;
}

.mobile-screen.light .quick-about-wrapper .content-wrapper .light-dark-toggle .circle {
  color: #000;
}

.mobile-screen.light .quick-about-wrapper .content-wrapper .titles {
  color: #505050;
}

.mobile-screen.light .quick-about-wrapper .content-wrapper .about {
  color: #505050;
  opacity: 0.75;
}

.mobile-screen.light .quick-about-wrapper .content-wrapper .socials a .socials-title {
  color: #505050;
  opacity: 0.6;
}

.mobile-screen.light .quick-about-wrapper .content-wrapper .contact {
  border-color: #3898EC;
  background-color: #3898EC;
  color: #f0f0f0;
}

.mobile-screen.dark .quick-about-wrapper {
  background: linear-gradient(322deg, #000, #000);
}

.mobile-screen.dark .quick-about-wrapper .content-wrapper #logo {
  fill: #f0f0f0;
}

.mobile-screen.dark .quick-about-wrapper .content-wrapper .light-dark-toggle .circle {
  color: #f0f0f0;
}

.mobile-screen.dark .quick-about-wrapper .content-wrapper .titles {
  color: #f0f0f0;
}

.mobile-screen.dark .quick-about-wrapper .content-wrapper .about {
  color: #f0f0f0;
  opacity: 0.8;
}

.mobile-screen.dark .quick-about-wrapper .content-wrapper .socials a .socials-title {
  color: #f0f0f0;
  opacity: 0.6;
}

.mobile-screen.dark .quick-about-wrapper .content-wrapper .contact {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
  color: #505050;
}

.regular-screen {
  opacity: 0;
}

.regular-screen .cursor {
  pointer-events: none;
  z-index: 1000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.regular-screen .cursor.click {
  -webkit-animation: on-click .25s forwards;
          animation: on-click .25s forwards;
}

@-webkit-keyframes on-click {
  50% {
    width: 75px;
    height: 75px;
  }
  100% {
    width: 70px;
    height: 70px;
  }
}

@keyframes on-click {
  50% {
    width: 75px;
    height: 75px;
  }
  100% {
    width: 70px;
    height: 70px;
  }
}

.regular-screen .inner-cursor {
  pointer-events: none;
  z-index: 1000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.regular-screen .left-arrow-cursor {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.regular-screen .left-arrow-cursor #left-arrow-icon {
  width: 14px;
  height: 13px;
}

.regular-screen .right-arrow-cursor {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.regular-screen .right-arrow-cursor #right-arrow-icon {
  width: 14px;
  height: 13px;
}

.regular-screen .explore-tag-wrapper #explore-tag {
  display: none;
  position: absolute;
  font-family: karbonR;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.regular-screen .nav-bar-top .logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5vh 0 0 3vw;
  height: 60px;
}

.regular-screen .nav-bar-top .logo-wrapper #logo-button {
  cursor: none;
}

.regular-screen .nav-bar-top .logo-wrapper #logo {
  height: 30px;
}

.regular-screen .nav-bar-top .contact-wrapper {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5vh 3vw 6vh 5vw;
  height: 60px;
  opacity: 0.65;
}

.regular-screen .nav-bar-top .contact-wrapper #nav-button {
  text-decoration: none;
  font-family: karbonR;
  font-size: 20px;
  vertical-align: middle;
  line-height: 30px;
  cursor: none;
}

.regular-screen .nav-bar-top .contact-wrapper.active {
  -webkit-animation: hover-opacity 0.25s linear 0s forwards;
          animation: hover-opacity 0.25s linear 0s forwards;
}

@keyframes hover-opacity {
  0% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}

.regular-screen .nav-bar-top .contact-tag-wrapper #contact-tag {
  display: none;
  position: absolute;
  font-family: karbonR;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 505;
  -webkit-animation: fadeup 2s forwards;
          animation: fadeup 2s forwards;
  opacity: 0;
}

@-webkit-keyframes fadeup {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes fadeup {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.regular-screen .light-dark-toggle {
  position: absolute;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  margin: 0 0 0 8px;
  height: 20px;
  width: 20px;
  z-index: 100;
}

.regular-screen .light-dark-toggle-description #light-dark-tag {
  display: none;
  position: absolute;
  font-family: karbonR;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: fadeup 2s forwards;
          animation: fadeup 2s forwards;
  opacity: 0;
}

@keyframes fadeup {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.regular-screen .nav-bar-side {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  font-family: karbonR;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.regular-screen .nav-bar-side .description {
  display: none;
}

.regular-screen .nav-bar-side .description.active {
  display: block;
  -webkit-animation: fadeup 2s forwards;
          animation: fadeup 2s forwards;
}

@keyframes fadeup {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.regular-screen .nav-bar-side #about-me {
  margin-left: 6vw;
  width: 125px;
}

.regular-screen .nav-bar-side #developer {
  margin-left: 3vw;
  width: 250px;
}

.regular-screen .nav-bar-side #designer {
  margin-left: 4vw;
  width: 205px;
}

.regular-screen .nav-bar-side #student {
  margin-left: 4vw;
  width: 250px;
}

.regular-screen .nav-bar-side #photographer {
  margin-left: 4vw;
  width: 210px;
}

.regular-screen .nav-bar-socials {
  overflow: hidden;
}

.regular-screen .nav-bar-socials a {
  text-decoration: none;
  cursor: none;
}

.regular-screen .nav-bar-socials .socials-title {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  font-family: karbonR;
  font-size: 16px;
  letter-spacing: 0.5px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 1vh 2vw 1vh 2vw;
  z-index: 100;
  opacity: 0.65;
}

.regular-screen .nav-bar-socials .socials-title:hover {
  -webkit-animation: hover-opacity 0.25s linear 0s forwards;
          animation: hover-opacity 0.25s linear 0s forwards;
}

@keyframes hover-opacity {
  0% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}

.regular-screen .nav-bar-socials #linkedin {
  top: 34%;
}

.regular-screen .nav-bar-socials #github {
  top: 42%;
}

.regular-screen .nav-bar-socials #resume {
  top: 50%;
}

.regular-screen .nav-bar-socials #facebook {
  top: 58%;
}

.regular-screen .nav-bar-socials #medium {
  top: 66%;
}

.regular-screen .nav-bar-designs {
  overflow: hidden;
}

.regular-screen .nav-bar-designs .designs-title {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  font-family: karbonR;
  font-size: 20px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 6vh 3vw 6vh 2vw;
  z-index: 100;
}

.regular-screen .nav-bar-developer {
  overflow: hidden;
}

.regular-screen .nav-bar-developer .developer-title {
  position: absolute;
  top: 25%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  font-family: karbonR;
  font-size: 20px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 6vh 3vw 6vh 2vw;
  z-index: 100;
}

.regular-screen .nav-bar-photographer {
  overflow: hidden;
}

.regular-screen .nav-bar-photographer .photographer-title {
  position: absolute;
  top: 75%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  font-family: karbonR;
  font-size: 20px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 6vh 3vw 6vh 2vw;
  z-index: 100;
}

.regular-screen .matt-screen {
  width: 100%;
  height: 100%;
  display: none;
}

.regular-screen .matt-screen .matt-gif #gif {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
  z-index: 1;
}

.regular-screen .matt-screen .matt-gif-overlay #gif-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
  opacity: 0%;
  z-index: 2;
  -webkit-animation: image-reveal-2 0.5s ease forwards;
          animation: image-reveal-2 0.5s ease forwards;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes image-reveal-2 {
  100% {
    opacity: 100%;
  }
}

@keyframes image-reveal-2 {
  100% {
    opacity: 100%;
  }
}

.regular-screen .matt-screen .about-circles-overlay {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
}

.regular-screen .matt-screen .about-circles-overlay .expand {
  -webkit-animation: expand 1.5s ease infinite;
          animation: expand 1.5s ease infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0.25;
}

@-webkit-keyframes expand {
  0% {
    opacity: 0.5;
    r: 3;
  }
  100% {
    opacity: 0;
    r: 24;
  }
}

@keyframes expand {
  0% {
    opacity: 0.5;
    r: 3;
  }
  100% {
    opacity: 0;
    r: 24;
  }
}

.regular-screen .matt-screen .click-tag-wrapper #click-tag {
  display: none;
  position: absolute;
  font-family: karbonR;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 505;
  -webkit-animation: fadeup 2s forwards;
          animation: fadeup 2s forwards;
  opacity: 0;
}

@keyframes fadeup {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.regular-screen .photographer-screen {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 500;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.regular-screen .photographer-screen .photographer-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 6% 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.regular-screen .photographer-screen .photographer-content-wrapper .photograph {
  width: 21%;
  margin: 2%;
  z-index: 505;
}

.regular-screen .photographer-screen.active {
  display: block;
  -webkit-animation: fadeIn 1s ease forwards;
          animation: fadeIn 1s ease forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.regular-screen .designer-screen {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 500;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.regular-screen .designer-screen .designer-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 6% 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.regular-screen .designer-screen .designer-content-wrapper .design {
  width: 21%;
  margin: 2%;
  z-index: 505;
}

.regular-screen .designer-screen.active {
  display: block;
  -webkit-animation: fadeIn 1s ease forwards;
          animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.regular-screen.active {
  -webkit-animation: fadeIn 3s forwards;
          animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.regular-screen.light {
  background-color: #F3F3F3;
}

.light .cursor {
  border: 2px solid #EAD8BF;
}

.light .cursor.active {
  border-color: #9FBBC9;
}

.light .inner-cursor {
  background: #EAD8BF;
}

.light .left-arrow-cursor #left-arrow-icon line {
  stroke: #9FBBC9;
}

.light .right-arrow-cursor #right-arrow-icon line {
  stroke: #9FBBC9;
}

.light .explore-tag-wrapper #explore-tag {
  color: #EAD8BF;
}

.light .nav-bar-top #logo {
  fill: #505050;
}

.light .nav-bar-top #nav-button {
  color: #505050;
}

.light .light-dark-toggle .circle {
  fill: #000;
}

.light #light-dark-tag {
  color: #505050;
}

.light .nav-bar-side {
  color: #505050;
}

.light .nav-bar-socials .socials-title {
  color: #505050;
}

.light .matt-screen .click-tag-wrapper #click-tag {
  color: #505050;
}

.light .contact-tag-wrapper #contact-tag {
  color: #505050;
}

.regular-screen.dark {
  background-color: #1b1e23;
}

.dark .cursor {
  border: 2px solid #F3F3F3;
}

.dark .cursor.active {
  border-color: #9FBBC9;
}

.dark .inner-cursor {
  background: #F3F3F3;
}

.dark .left-arrow-cursor #left-arrow-icon line {
  stroke: #9FBBC9;
}

.dark .right-arrow-cursor #right-arrow-icon line {
  stroke: #9FBBC9;
}

.dark .explore-tag-wrapper #explore-tag {
  color: #F3F3F3;
}

.dark .nav-bar-top #logo {
  fill: #F3F3F3;
}

.dark .nav-bar-top #nav-button {
  color: #F3F3F3;
}

.dark .light-dark-toggle .circle {
  fill: #F3F3F3;
}

.dark #light-dark-tag {
  color: #F3F3F3;
}

.dark .nav-bar-side {
  color: #F3F3F3;
}

.dark .matt-screen .click-tag-wrapper #click-tag {
  color: #F3F3F3;
}

.dark .nav-bar-socials .socials-title {
  color: #F3F3F3;
}

.dark .nav-bar-socials .tab-list-socials .tab img {
  color: #F3F3F3;
}

.dark .contact-tag-wrapper #contact-tag {
  color: #F3F3F3;
}
/*# sourceMappingURL=main.css.map */